body{
    margin:0;
    background:rgb(66, 155, 48);
    overflow:hidden;
    text-align:center;
    
}
#myCanvas{
    background:#71797E;
}
h1{
    background:#103a55;
    color: #070201;
    margin: 0px; /* Imposta un margine di 10px su tutti i lati */
}
